[Unit]
Description=Hostpixel - Host neopixel control
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{user}}
RemainAfterExit=yes
WorkingDirectory={{dirs.pkg}}
ExecStart={{dirs.venv}}/bin/python {{dirs.pkg}}/main.py -c {{paths.moonraker.configs}}/hostpixel.conf
Restart=always
RestartSec=10
